.categoriesFlexboxContainer,
.itemsFlexboxContainer {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.itemsFlexboxContainer {
    gap: 0;
}

.categoryContainer,
.itemContainer {
    border: 3px solid #3D3D3C;
    border-radius: 10px;
    transition-duration: .5s;
    box-shadow: rgb(0 0 0 / 10%) 0 4px 12px;
    scale: .90;
}

.categoryContainer:hover,
.itemContainer:hover {
    scale: .95;
    transition-duration: .5s;
    box-shadow: rgb(0 0 0 / 20%) 0 8px 24px;
}

.categoryHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.categoryHeaderContainer h4:nth-child(1) {
    flex-grow: 1;
    text-align: left;
    margin-right: 10px;
    width: 14vw;
}

.categoryHeaderContainer h4:nth-child(2) {
    flex-grow: 0;
    text-align: center;
    width: 100%;
}

.categoryHeaderContainer button {
    text-align: right;
    margin-left: 10px;
}

.itemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    scale: .90;
    margin-bottom: 10px;
}

.itemContainer:hover {
    scale: .93;
}